.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 18rem;
  max-width: 20rem;
  word-wrap: break-word;
  background-clip: border-box;
  border-radius: .125rem;
  margin: 1rem
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.countryImg {
  height: 180px;
  width: 100%;
  display: block;
  border-top-left-radius: calc(.125rem - 1px);
  border-top-right-radius: calc(.125rem - 1px);
}

.cardBody {
  flex: 1 1 auto;
  padding: 1.25rem;
}

.cardTitle {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: .75rem;
}

